main{
  width:100%;
  /* height: 100vh; */
  /* position:absolute; */
  display:flex;
  flex-direction:column;
  align-items:flex-end;
  justify-content: center;
  /* border:5px solid red; */
}

.section{
  width: 84%;
  display:flex;
  /* border:5px solid yellow; */
  background:linear-gradient(#89c8c1,#89a1a1, #607b7b);
  padding:30px;
  /* position:absolute; */
  /* padding:0px 16px; */


}


.top-playlist{
  display:flex;
  /* border:5px solid blue; */
  flex-direction: row;
  align-items: center;
}

.img-playlist{
  display:flex;
  margin-left:20px;
}

.img-playlist img{
  width:192px;
  height:192px;
  /* background: linear-gradient(145deg, #121212, #151515); */
  box-shadow:  16px 16px 50px #606060, -16px -16px 50px #909090;
}

.details-playlist{
  /* border:5px solid purple; */
  display:flex;
  flex-direction:column;
  gap:20px;
  margin-left:30px;
}

.details-playlist .text-playlist{
  font-size:14px;
  color:#ffff;
  font-weight: bold;
}


.details-playlist .title-playlist{
  font-size:50px;
  color:#ffff;
  font-weight: bold;
}

.details-playlist .artist-playlist{
  font-size:14px;
  color:#606060;
  font-weight: bold;
  margin-left:3px;
}

.len-playlist{
  display:flex;
  flex-direction: row;
  align-items:center;
  /* border:5px solid brown; */
}

.spotify-logo img{
  width:24px;
  height: 24px;
}

.text-spotify{
  color:#ffff;
  font-size:14px;
  font-weight:bold;
  margin-left:3px;
}

.details-brani{
  color:#ffff;
  font-size:14px;
  font-weight:bold;
  margin-left:5px;
}


.section-2{
  width: 84%;
  display:flex;
  flex-direction:column;
  /* border:5px solid orange; */
  padding:10px;
}

.nav-play{
  display:flex;
  flex-direction:row;
  align-items:center;
  gap:20px;
  margin-left:30px;
  padding:20px;
}

.play-logo{
  display:flex;
}

.play-logo img{
  width:56px;
  height:56px;
  cursor:pointer;
}

.like-logo{
  display:flex;
}

.like-logo svg{
  width:30px;
  height:30px;
  fill: rgb(157,156,156);
}

.options{
  display:flex;
}
.like-logo svg:hover{
  fill:white;
}
.options svg{
  width:30px;
  height:30px;
  fill:rgb(157,156,156);

}

.options svg:hover{
  fill:white;
}

.table{
  width:100%;
  display:flex;
  flex-direction: column;
  margin-top:20px;
  /* border:2px solid red; */
}
.table .riga{

  display:flex;
  flex-direction: row;
  align-items:center;
  justify-content:space-between;
  color:rgb(157,156,156);
  /* border:5px solid yellow; */
  padding:10px;

}

hr{
  border: 1px solid rgb(157,156,156);
}

.table .riga .riga-sx{
  /* border: 2px solid blue; */
  display:flex;
  flex:1;
  gap:20px;
}


.table .riga .riga-dx{
  justify-content: space-around;
  /* border: 1px solid blue; */
  display:flex;
  gap:190px;
  flex:1;
}
.riga-dx svg{
  width:15px;
  fill:rgb(157,156,156)
}

.play-logo img:hover{
  scale: 1.1;
  transition: 0.1s ease-in-out;
}
