main{
  width:100%;
  display:flex;
  flex-direction: column;
  margin-top:20px;
}

.riga{
  display:flex;
  flex-direction: row;
  align-items:center;
  flex: 1;
  color:rgb(157,156,156);
  padding:10px;
}

.riga-dx{
  align-items:center;
  display:flex;
  justify-content: space-around;
  flex:1;
}

.riga-dx div, .riga-dx span{
  flex:1;
}

.riga-dx div{
  display: flex;
  justify-content: flex-end;
}

.riga-sx{
  display:flex;
  flex:1;
  align-items:center;
  gap:20px;
}

.riga-sx div{
  width: 20px;
}

.autore div{
  display: flex;
  flex-direction: column;
  width: max-content;
  cursor: pointer;
}

.album{
  cursor: pointer;
}

.autore div span:hover, .album:hover{
  text-decoration: underline;
}

svg{
  width:15px;
  height:15px;
  cursor:pointer;
  fill:#ffff;
}

img{
  width:40px;
  height:40px;
}

.like svg{
  width:15px;
  height:15px;
  fill:#1fd760;
}
/* CUORE VERDE */
