

<section class = "section">
  <div class = "container-song" >
    <div class = "card-play" >
      <img src="../../../assets/play.png" alt="play">
    </div>
    <div class = "song-img">
      <img src = {{img}}>
    </div>

    <div class = "info-song">
    <span class = "artist">{{autore}}</span>
    <div class = "song-text">
      <span class = "name">{{titolo}}</span>
    </div>

    <span class = "album-song">

    </span>

    <div class = "like">

    </div>

    <span class = "song-len">

    </span>


    </div>

  </div>
  </section>
