.container{
  width: 100%;
  height: 900px;
  display: flex;
  align-items: start;
  justify-content: right;
  /* border: 1px solid white; */
  padding-top: 60px;
}

.container-cards{
  width: 84%;
  display: flex;
  flex-direction: column;
}

.cards{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  margin: 40px 0;
  /* border: 1px solid white; */
}

.cards app-card:nth-child(6){
  display: none;
}

.cards app-card:nth-child(7){
  display: none;
}
.cards app-card:nth-child(8){
  display: none;
}

.options{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
}
#options{
  margin: 20px 30px 0;
}
#sx{
  font-size: 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
#sx:hover{
  text-decoration: underline;
  transition: 0.3s;
}
#dx{
  font-size: 14px;
  font-weight: bold;
  color: rgb(157, 156, 156);
  cursor: pointer;
}
#dx:hover{
  text-decoration: underline;
  transition: 0.3s;
}


@media screen and (max-width: 1400px) {
  .container{
    height: max-content;
  }

  .cards{
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    /* grid-template-rows: repeat(3, 1fr); */
    row-gap: 20px;
    margin-left: 20px;
  }
  .cards app-card:nth-child(6){
    display: block;
  }
  .cards app-card:nth-child(7){
    display: block;
  }
  .cards app-card:nth-child(8){
    display: block;
  }
}

@media screen and (max-width: 1200px) {
  .container{
    height: max-content;
  }

  .cards{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    /* grid-template-rows: repeat(3, 1fr); */
    row-gap: 20px;
    margin-left: 20px;
  }
  .cards app-card:nth-child(6){
    display: block;
  }
  .cards app-card:nth-child(7){
    display: none;
  }
  .cards app-card:nth-child(8){
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .container{
    height: max-content;
  }

  .cards{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(2, 2fr);
    row-gap: 20px;
    margin-left: 20px;
  }
  .cards app-card:nth-child(6){
    display: block;
  }
  .cards app-card:nth-child(7){
    display: block;
  }
  .cards app-card:nth-child(8){
    display: block;
  }
}
