.container{
  width: 100%;
  height: 900px;
  display: flex;
  align-items: start;
  justify-content: right;
  /* border: 1px solid white; */
  padding-top: 60px;
}

.container-cards{
  width: 84%;
  display: flex;
  flex-direction: column;
}
.cards{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  margin: 40px 0;
  /* border: 1px solid white; */
}

.options{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
}
#options{
  margin: 20px 30px 0;
}
#sx{
  font-size: 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
#sx:hover{
  text-decoration: underline;
  transition: 0.3s;
}
#dx{
  font-size: 14px;
  font-weight: bold;
  color: rgb(157, 156, 156);
  cursor: pointer;
}
#dx:hover{
  text-decoration: underline;
  transition: 0.3s;
}
