footer{
  background-color: #232323;
  color: rgb(157, 156, 156);
  width: 100%;
  /* border: 1px solid red; */

  font-size: 14px;
  display: flex;
  justify-content: right;

}

nav{
  padding: 8px 16px 40px;
  /* border: 1px solid white; */
  width: 84%;
  height: max-content;
}

.contatti {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.contatti section{
  display: flex;
  flex-direction: row;
  gap: 30px;
}

section div{
  margin: 8px 32px 40px 0;
}

span{
  margin: 8px 0;
}

ul{
  display: flex ;
  flex-direction: column;
  color: rgb(208, 202, 202);
  padding: 0 0 8px;
}

p{
  font-weight: 700;
}

a {
  text-decoration: none;
  color: rgb(157, 156, 156);
}

a:hover{
  text-decoration: underline;
  color: rgb(208, 202, 202);
}

.primo{
  max-width: 500px;
}

.ultimo{
  min-width: 200px;
}

.logo{
  display: flex;
}

div svg {
  width: 40px;
  height: 40px;
  padding: 8px;
  background-color: #292929;
  border-radius: 50%;
  fill: white;
}

div svg:hover{
  transition: 1s;
  background-color: rgb(208, 202, 202);
}

hr{
  width: 90%;
  margin: 50px auto;
}

